#nnm{background-color:#ff1700;}
#mnm{background-color:#ff0000;}
#sml{background-color:#74d2ff;}
#we{background-color:#6c22bf;}
#brn{background-color:green;}
#hlo{max-width:75%;margin:0 auto;}
#razd{max-width:80%;margin:0 auto;}
#okft{max-width:90%;margin:0 auto;}
#prtv{max-width:80%;margin:0 auto;}